# =========================
# Build & Dependency Folders
# =========================
/target/
/build/
/out/
/bin/
/dist/
/gradle/
/node_modules/

# =========================
# Environment / Config Files
# =========================
*.env
application.yml
application.properties

# =========================
# System Files
# =========================
Thumbs.db
*.swp
*.swo

# =========================
# Others
# =========================
/coverage/
/tmp/
/.cache/
/logs/
/uploads/





HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# OS / Editor / IDE
# =========================
.DS_Store
.idea/
.vscode/
*.iml
*.class
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
node_modules/
.env
uploads/
